<template>
	<div class="page">
  	<div class="navbar">
      <div class="navbar-inner sliding">

      	<div class="left">
          <a href="/home/" class="link icon-only" data-panel="left">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Account</div>
      </div>
    </div>

	  <div class="page-content hide-navbar-on-scroll">

			<div class="card">
			  <div class="card-content card-content-padding">
			  	<div class="row" style="margin-bottom: 60px;">
            <div class="col">
              <section class="user-profile">
                <div class="col">
                  <img src="static/avatar/img_avatar.png" class="img-circle" style="width: 80px" />
                </div>
              </section>
              <div class="col" style="text-align: center; margin-bottom: 20px;">
              <section class="user-data">
                 
              </section>
              </div>
            </div>
          </div>
			  </div>
			</div>

      <div class="card">
        <div class="card-header"><strong>Transaksi</strong></div>
        <div class="card-content card-content-padding">
          <div class="list simple-list">
            <ul>
              <li><a href="">Menunggu pembayaran</a></li>
              <li><a href="/transaction/">Daftar transaksi</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header"><strong>Profil saya</strong></div>
        <div class="card-content card-content-padding">
          <div class="list simple-list">
            <ul>
              <li><a href="">Lelang Favorit</a></li>
              <li><a href="">Whitelist</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content card-content-padding">
          <div class="button" style="text-align: center;">
            <a href="/login/" id="btn-logout" class="panel-close"></a>
          </div>
        </div>
      </div>
		</div>
	</div>
</template>
<script>
  import $ from 'jquery';
  import $$ from 'dom7';
  export default {
    methods: {

    },
    on: {
      pageBeforeIn: function() {
        var self = this;
        var app = self.$app;

        var html = '';
        $.ajax({
          url: app.data.host + 'api/users/personal_information.json?user_id=' + localStorage.user_id,
          data: {

          },
          beforeSend: function() {

          },
          success: function(data) {
            if (data) {
              html = 'Nama : <b>' + data.first_name + ' ' + data.last_name +'</b>' +
                     '<br>' +
                     'No Hp : <b>' + data.phone_number + '</b>' +
                     '<br>'
              document.getElementById('btn-logout').innerHTML = 'Logout'
            }
            if(data.verification_status == false) {
                html += '<a href="/account-edit/"><span class="badge"> Verify your account </span></a><br>'
              } else if (data.verification_status == true) {
                html += '<span class="badge color-green"> Verified </span><br>'
              }
            $$('.user-data').html(html);
          },
          complete: function() {
            
          },
          error: function() {
            html = 'No information found' + '<br>'
            document.getElementById('btn-logout').innerHTML = 'Sign up'
            $$('.user-data').html(html);
          }
        });

          $$('#btn-logout').on('click', function() {
            localStorage.username = "";
            localStorage.user_id = "";
            localStorage.balance = "";
            localStorage.is_login = "";
          });
      },
      pageAfterIn: function() {
        $$('#btn-logout').on('click', function() {
          localStorage.clear
        });
      }
    },
    methods: {

    }
  }
</script>