<template>
	<div class="page">
  	<div class="navbar">
      <div class="navbar-inner sliding">
        
      	<div class="left">
          <a href="/account/" class="link icon-only" data-panel="left">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Account Verification</div>
      </div>
    </div>

	  <div class="page-content hide-navbar-on-scroll">
	  	
			<div class="card">
			  <div class="card-content card-content-padding">
			  	<div class="row">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="file_upload_id_1" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload">add_a_photo</i></div>
              <div class="demo-icon-name">Upload foto</div>
            </div>
          </div>
			  </div>
			</div>

		</div>
    
    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="/home/" class="link"><i class="material-icons demo-icon">home</i></a>
        <a href="/notification/" class="link"><i class="material-icons demo-icon">email</i></a>
        <a href="/create/" class="link"><i class="material-icons demo-icon">add_box</i></a>
        <a href="/account/" class="link"><i class="material-icons demo-icon">account_circle</i></a>
      </div>
    </div>
	</div>
</template>
<script>
  import $$ from 'dom7';
  export default {
    
  }
</script>