<template>
	<div class="page">
  	<div class="navbar">
      <div class="navbar-inner sliding">
        
      	<div class="left">
          <a href="/account/" class="link icon-only" data-panel="left">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Account Edit</div>
      </div>
    </div>

	  <div class="page-content hide-navbar-on-scroll">
			<div class="card">
			  <div class="card-content card-content-padding">
          
          <form method="PATCH" enctype="multipart/form-data" id="fileUploadForm">
            
    			  	<div class="row">
                <div class="col">
                  <div class="col-33 tablet-15 demo-icon">
                    <input type="file" id="profile_pic" style="display:none">
                    <div class="demo-icon-icon"><i class="material-icons" @click="upload('front','profile_pic')">add_a_photo</i></div>
                    <div class="demo-icon-name">Profile picture</div>
                  </div>

                  <div class="col-20" style="text-align: center; margin-bottom: 20px;">
                    <img src="" id="front" style="max-width: 50%; max-height: 50%"/> 
                  </div>
                </div>
                <div class="col">
                  <div class="col-33 demo-icon">
                    <input type="file" id="ktp_pic" style="display:none">
                    <div class="demo-icon-icon"><i class="material-icons" @click="upload('back','ktp_pic')">add_a_photo</i></div>
                    <div class="demo-icon-name">Foto KTP</div>
                  </div>
                  <div class="col-20" style="text-align: center; margin-bottom: 20px;">
                    <img src="" id="back" style="max-width: 50%; max-height: 50%"/> 
                  </div>
                </div>
              </div>
            
          </form>

			  </div>
			</div>


    <div class="card">
      <div class="card-content card-content-padding">

        <section style="margin-top: 10px;">
            <div class="list no-hairlines-md">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">NIK</div>
                    <div class="item-input-wrap">
                      <input type="text" id="nik" placeholder="" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">First Name</div>
                    <div class="item-input-wrap">
                      <input type="text" id="first_name" placeholder="" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Last Name</div>
                    <div class="item-input-wrap">
                      <input type="text" id="last_name" placeholder="">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Gender</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="gender" placeholder="Please choose...">
                        <option value="male">Laki - Laki</option>
                        <option value="female">Perempuan</option>
                      </select>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Tempat lahir</div>
                    <div class="item-input-wrap">
                      <input type="text" id="birth_place" placeholder="" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Tanggal Lahir</div>
                      <div class="list no-hairlines-md">
                        <div class="item-content item-input">
                          <div class="item-input-wrap">
                            <input type="date" placeholder="Select date" id="birth_date"/>
                          </div>
                        </div>
                      </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Phone Phone</div>
                    <div class="item-input-wrap">
                      <input type="text" id="phone_number" placeholder="" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Telephone</div>
                    <div class="item-input-wrap">
                      <input type="text" id="telephone" placeholder="">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Alamat</div>
                    <div class="item-input-wrap">
                      <textarea id="address" placeholder=""></textarea>
                    </div>
                  </div>
                </li>
              </ul>
              <br>
              <div class="card-footer">
                <button class="col button button-medium button-fill" id="btn_submit">Proses</button>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>

		</div>
    
    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="/home/" class="link"><i class="material-icons demo-icon">home</i></a>
        <a href="/notification/" class="link"><i class="material-icons demo-icon">email</i></a>
        <a href="/create/" class="link"><i class="material-icons demo-icon">add_box</i></a>
        <a href="/account/" class="link"><i class="material-icons demo-icon">account_circle</i></a>
      </div>
    </div>
	</div>
</template>
<script>
  import $ from 'jquery';
  export default {
    on: {
      pageBeoreIn: function() {

      },
      pageAfterIn: function(e, page) {
        var self = this;

        self.proccedData(e, page);
      }
    },
    methods: {
       upload: function(p,q) {
        document.getElementById(q).click();
        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#'+p).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#"+q).change(function() {
          readURL(this);
        });
      },
      proccedData: function(e, page) {
        // var self_ = this.$app;
        var host = 'http://192.168.1.6:3000/';

        $('#btn_submit').click(function() {

          var fd = new FormData();
          var profile_pic = $('#profile_pic')[0].files[0];
          var ktp_pic     = $('#ktp_pic')[0].files[0];

          fd.append('profile_picture', profile_pic);
          fd.append('ktp', ktp_pic);

          fd.append('user_id', localStorage.user_id);
          fd.append('nik', $('#nik').val());
          fd.append('first_name', $('#first_name').val());
          fd.append('last_name', $('#last_name').val());
          fd.append('gender', $('#gender').val());
          fd.append('birth_place', $('#birth_place').val());
          fd.append('birth_date', $('#birth_date').val());
          fd.append('address', $('#address').val());
          fd.append('phone_number', $('#phone_number').val());
          fd.append('telephone', $('#telephone').val());
          
          // console.log(profile_pic, ktp_pic, 
          //             $('#nik').val(),
          //             $('#first_name').val(),
          //             $('#last_name').val(),
          //             $('#gender').val(),
          //             $('#birth_place').val(),
          //             $('#birth_date').val(),
          //             $('#phone_number').val(),
          //             $('#telephone').val(),
          //             $('#address').val()
          //             );
          $.ajax({
              url: host + 'api/users/update_profile.json',
              type: "PATCH",
              data: fd, 
              enctype: 'multipart/form-data',
              processData: false,
              contentType: false,
              beforeSend: function() {
                
              },
              success: function(data) {
                console.log(data);
                page.router.navigate('/home/');
              }, 
              complete: function(data) {

              },
              error: function(xhr) {
                console.log(xhr);
              }
          });
        });
      }
    }
  }
</script>