<template>
  <div class="page" data-name="BidPage">

  	<input type="hidden" id="bid_id" value="{{$route.params.bid_id}}" />
  	<div class="navbar">
      <div class="navbar-inner sliding">
      	<div class="left">
          <a href="/home/" class="link icon-only" data-panel="left">
            <i class="icon icon-back demo-icon"></i>
          </a>
        </div>
        <div class="title">Barang Lelang</div>
      </div>
    </div>

  <div class="page-content hide-navbar-on-scroll">
  	<br>
	  <div data-pagination='{"el": ".swiper-pagination", "hideOnClick": true}' data-space-between="50" class="swiper-container demo-swiper demo-swiper-auto">
		  <div class="swiper-pagination"></div>
			  <div class="swiper-wrapper product-img">

			  </div>
		</div>

		<div class="card demo-card-header-pic auc-item">

		  <div class="card-content card-content-padding">
		    <div class="item-title-row">
    			<span id="product_nm" class="item-bidding" style="margin-left: 1px; font-size: 18px;">nama barang </span>
    				<div class="row" style="margin-top: 20px; margin-bottom: 10px;">
    					<div class="col">
		        		<div style="padding-left: 20px;">Harga Awal</div>
		        		<div class="col-75"><span id="price" class="item-bid"> </span></div>
		        	</div>
		        	<div class="col">
		        		<div style="padding-left: 20px;">Kelipatan Bid</div>
		        		<div class="col-75"><span id="price-multiple" class="item-bid"> </span></div>
		        	</div>
			  		</div>
			  		<div class="col">
			  			<span><stong>Berakhir pada</stong></span>&nbsp : &nbsp  <span id="due_date"></span>
			  		</div>
		  	</div>
		  </div>
		</div>
	<div class="row">
		<marquee>
				<div class="item-title-row">
          <span class="badge color-orange">Top Bidder
          </span>&nbsp
          	<strong>
          		<span id="top-date">
          			
          		</span> 
          	</strong>
          		&nbsp&nbsp
          	<strong>
          		<span id="top-bidprice">
          			
          		</span> 
          	</strong>
          
		    </div>
		</marquee>
	</div>
		<div class="card auc-item">
		  <div class="card-content card-content-padding">
		  	<div class="row">
					<div class="list accordion-list" style="width: 100%;">
					  <ul>
					    <li class="accordion-item">
					    	<a href="#" class="item-content item-link">
						      <div class="item-inner">
					        	<i class="material-icons demo-icon">menu</i>
					        	<div class="col-90">
					        		<span style="font-size: 13px;">Deskripsi lengkap</span>
					        	</div>
						      </div>
						    </a>
					      <div class="accordion-item-content">
				          <ul>
				          	<li><b>Tipe : </b><span id="tipe"></span></li>
				          	<li><b>Merek : </b><span id="merek"></span></li>
				          	<li><b>Model : </b><span id="model"></span></li>
				          	<li><b>Kategori : </b><span id="kateg"></span></li>
				          	<li><b>Kondisi barang : </b><span id="kondisi"></span></li>
				          	<li><b>Unik : </b><span id="unik"></span></li>
				          	<li><b>Tahun : </b><span id="tahun"></span></li>
				          	<li><b>Deskripsi : </b><span id="desc"></span></li>
				          	<li><b>Plus : </b><span id="descplus"></span></li>
				          	<li><b>Minus : </b><span id="descminus"></span></li>
							  	</ul>
					      </div>
					    </li>
					  </ul>
					</div>

		  	</div>
		  </div>
		</div>
		
			<div class="data-table card">

			<div class="data-table-title" style="text-align: center; margin-top: 25px;">Bidders</div>
			<table>
		    <thead>
		    	<tr>
		    		<th class="lable-cell">Date</th>
		    		<th class="lable-cell">Bid price</th>
		    	</tr>
		    </thead>
		    <tbody class="list-bidder" style="display: block; height: 200px; overflow-y: auto; overflow-x: hide;">
		    	
		    </tbody>
		  </table>
		</div>

		  <div class="row" style="margin-bottom: 10px; justify-content: center;">
		    <button class="col button button-outline button-round" id="btn_bid1" @click="bid_button" style="width: 20%;">Bid</button>
		  </div>

	</div>

    <div class="fab fab-right-bottom">
	    <a href="#" style="block-size: 40px;">
	      <i class="icon material-icons md-only">share</i>
	      <i class="icon material-icons md-only">close</i>
	    </a>
	    <div class="fab-buttons fab-buttons-top">
	      <a href="#" class="fab-label-button">
	        <span><i class="f7-icons">logo_facebook</i></span>
	        <span class="fab-label">Facebook</span>
	      </a>
	      <a href="#" class="fab-label-button">
	        <span><i class="f7-icons">logo_instagram</i></span>
	        <span class="fab-label">Instagram</span>
	      </a>
	      <a href="#" class="fab-label-button">
	        <span><i class="f7-icons">logo_twitter</i></span>
	        <span class="fab-label">Twitter</span>
	      </a>
	    </div>
  	</div>

	</div>
</template>
<script>
	import $ from "jquery";
  import $$ from 'dom7';
  
	export default {
		methods: {

    },
		on: {
			pageBeforeIn: function() {

			},
			pageAfterIn: function() {
        var self = this;
        var app = self.$app;

        var id = document.getElementById('bid_id').value;
        var user_list = '<div class="list media-list"> ' + '<ul>';
        var product_img = '';
        var bidder = '';

        $.ajax({
          url: app.data.host + 'api/auctions/' + id + '.json',
          data: {

          },
          beforeSend: function(data) {
            app.preloader.show();
          },
          success: function(data) {
            bidder += '<section>'
            for(var i = 0; i < data.log_bid.length; i++) {
              if (data.log_bid != '' || data.log_bid.length > 0) {
                bidder += 
                  '<tr>\
                    <td class="lable-cell">' + 
                          new Date(data.log_bid[i].created_at).getFullYear() + '-' +
                          new Date(data.log_bid[i].created_at).getMonth() + '-' +
                          new Date(data.log_bid[i].created_at).getDate() + ' ' +
                          new Date(data.log_bid[i].created_at).getHours() + ':' +
                          new Date(data.log_bid[i].created_at).getMinutes() + ':' +
                          new Date(data.log_bid[i].created_at).getSeconds() + 
                    '</td>\
                    <td class="lable-cell">' + data.log_bid[i].price + '</td>\
                  </tr>'
              } else {
                bidder += 
                  '<tr>\
                    <td class="lable-cell"> Empty </td>\
                    <td class="lable-cell"> Empty </td>\
                  </tr>'
              }

            }

            bidder += '</section>'

            $('.list-bidder').html(bidder);

            $$('#product_nm').text(data.name);
            $$('#price').text(data.start_price);
            $$('#price-multiple').text(data.price_bid);
            $$('#merek').text(data.brand);
            $$('#tipe').text(data.brand_type);
            $$('#kateg').text(data.category);
            $$('#kondisi').text(data.condition);
            $$('#tahun').text(data.production_date);
            $$('#desc').text(data.description);
            $$('#descplus').text(data.plus_description);
            $$('#descminus').text(data.min_description);

            if (data.log_bid != '' || data.log_bid.length > 0) {
              $$('#top-date').text(new Date(data.log_bid[0].created_at).getFullYear() + '-' +
                                    new Date(data.log_bid[0].created_at).getMonth() + '-' +
                                    new Date(data.log_bid[0].created_at).getDate() + ' ' +
                                    new Date(data.log_bid[0].created_at).getHours() + ':' +
                                    new Date(data.log_bid[0].created_at).getMinutes() + ':' +
                                    new Date(data.log_bid[0].created_at).getSeconds());
              $$('#top-bidprice').text(data.log_bid[0].price);
            } else {
              $$('#top-date').text("Belum ada bidder");
              $$('#top-bidprice').text("~");
            }

            var countDownDate = new Date(data.end_date).getTime();

            var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("due_date").innerHTML = days + " Hari " + hours + ":" + minutes + ":" + seconds;

              if (distance < 0) {
                clearInterval(x);
                document.getElementById("due_date").innerHTML = "Lelang telah berakhir";
              }
            }, 1000);
            
            if(data.attachment != null || data.attachment.length >= 0) {
              for(var i = 0; i < data.attachment.length; i++) {
                product_img += '<div class="swiper-slide">\
                                  <img src="' + app.data.host + '/' + data.attachment[i].name + 
                                  '" style="width: 100%;height: 100%; object-fit: contain;"/>\
                                </div>'
              }
            }

            $(".product-img").html(product_img);
              setTimeout(function() {
                app.swiper.create('.swiper-container');
              }, 300);

          },
          complete: function(data) {
            app.preloader.hide();

          },
          error: function(xhr) {
            console.log(xhr);
          }
        });

			}
		},
		methods: {
			bid_button: function (e, page) {
	      var self = this;
	      var app = this.$app;

				var bidder = '';

				if (localStorage.user_id != '') {
					if(localStorage.is_verify == "true") {

						app.preloader.show();
						$.ajax({
							url: app.data.host + "api/auctions/bid.json",
							type: 'POST',
							async: true,
							data: {
								token: "janganlupa123",
								bidder_id: localStorage.user_id,
								auction_id: document.getElementById('bid_id').value,
							},
							beforeSend: function() {

							},
							success: function(result) {
								console.log('asdasd');
								for(var i=0; i<result.data.length; i++) {
									bidder += 
				              '<tr>\
				                <td class="lable-cell">' + 
	              						new Date(result.data[i].created_at).getFullYear() + '-' +
														new Date(result.data[i].created_at).getMonth() + '-' +
														new Date(result.data[i].created_at).getDate() + ' ' +
														new Date(result.data[i].created_at).getHours() + ':' +
														new Date(result.data[i].created_at).getMinutes() + ':' +
														new Date(result.data[i].created_at).getSeconds()
				                 + '</td>\
				                <td class="lable-cell">' + result.data[i].price + '</td>\
				              </tr>'
								}
								
								$('#top-date').text(new Date(result.data[0].created_at).getFullYear() + '-' +
                                    new Date(result.data[0].created_at).getMonth() + '-' +
                                    new Date(result.data[0].created_at).getDate() + ' ' +
                                    new Date(result.data[0].created_at).getHours() + ':' +
                                    new Date(result.data[0].created_at).getMinutes() + ':' +
                                    new Date(result.data[0].created_at).getSeconds());

              	$('#top-bidprice').text(result.data[0].price);
              	
		            $('.list-bidder').html(bidder);
							},
							complete: function(data) {
								setTimeout(function() {
									app.preloader.hide();
								}, 250);
							},
							error: function(xhr) {

							}
						});

					app.preloader.hide();
					} else if(localStorage.is_verify == "false"){
							app.views.main.router.navigate('/account-edit/');
					}
				} else {
						// if (!app.toastWithButton) {
		    //       app.toastWithButton = app.$app.toast.create({
		    //         text: 'You must login',
		    //         position: 'center',
		    //         closeTimeout: 700,
		    //         on: {
		    //           close: function () {
		    //             app.views.main.router.navigate('/login/');
		    //           },
		    //         }
		    //       });
		    //     }	
				}
      },  
      getBidLog: function(auction_id, user_id) {
        $.ajax({
          url: host + 'api/auctions/is_top_bidder?id=' + auction_id + '&user_id=' + user_id,
          data: {

          },
          beforeSend: function() {

          },
          success: function(data) {
          	console.log(data);
            if(data.result == true) {
            	document.getElementById("btn_bid").disabled = true;
            } else if (data.result == false) {
            	document.getElementById("btn_bid").disabled = false;
            }
          },
          complete: function() {

          },
          error: function(xhr) {
          	console.log(xhr);
          }
        });
      }
		}
	};
		
</script>