<template>
  <div class="page" data-name="create-auction">
    <div class="page-content">
      <div class="navbar">
        <div class="navbar-inner">

          <div class="left">

          </div>
          <div class="row">
            <div class="col">
              <div class="title sliding">
                  <a href="/create/"><i class="icon icon-back"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    <br>
    <div class="card">
      <div class="card-header" style="background-color: aquamarine"><b>Deskripsi barang</b></div>
      <div class="card-content card-content-padding">

        <section style="margin-top: 10%;">
          <div class="list no-hairlines-md">
            <ul>
               <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Kondisi barang</div>
                  <div class="item-input-wrap">
                    <input type="text" id="item_condition" placeholder="eg: Baru/Bekas" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Tahun produksi barang</div>
                    <div class="list no-hairlines-md">
                          <div class="item-content item-input">
                              <div class="item-input-wrap">
                                <input type="date" placeholder="Select date" id="demo-calendar-modal"/>
                              </div>
                          </div>
                    </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Deskripsi</div>
                  <div class="item-input-wrap">
                    <textarea id="txt_desc" placeholder="Deskripsi item" required validate data-error-message="*Data wajib di isi"></textarea>
                  </div>
                </div>
              </li>
               <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Plus</div>
                  <div class="item-input-wrap">
                    <textarea id="txt_plus" placeholder="Deskripsi item (+)"></textarea>
                  </div>
                </div>
              </li>
               <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Minus</div>
                  <div class="item-input-wrap">
                    <textarea id="txt_minus" placeholder="Deskripsi item (-)"></textarea>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Uniques</div>
                  <div class="item-input-wrap">
                    <textarea id="txt_unique" placeholder="Deskripsi item (unik)"></textarea>
                  </div>
                </div>
              </li>
            </ul>
            <br>
            <div class="card-footer">
              <button class="col button button-medium button-fill" id="btn_next1">next</button>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
  </div>

</div>
</template>
<script>
  import $ from 'jquery';
  export default {
    on: {
      pageBeforeIn: function() {

      },
      pageAfterIn: function(e, page) {
        var app = this.$app;
        var self = this;
        var toastWithCallback = app.toast.create({
          text: 'Lengkapi data mandatori',
          position: 'center',
          closeTimeout: 1500,
        });

        $('#btn_next1').click( function() {
          var item_condition = document.getElementById('item_condition').value
          var prod_date = document.getElementById('demo-calendar-modal').value
          var txt_desc = document.getElementById('txt_desc').value
          var txt_plus = document.getElementById('txt_plus').value
          var txt_minus = document.getElementById('txt_minus').value
          var txt_unique = document.getElementById('txt_unique').value

          if(txt_desc == "" || item_condition == "") {
            alert();
            toastWithCallback.open();
          } else {
            var obj = {
                        condition: item_condition,
                        date: prod_date,
                        desc: txt_desc,
                        plus: txt_plus,
                        minus: txt_minus,
                        unique: txt_unique
                      }
            localStorage.pending_product_desc = JSON.stringify(obj)
            page.router.navigate('/create-img/');
          }
        });
      }
    }
    
  }
</script>