<template>
  <div class="page">
  <div class="page-content" data-name="create-auction">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">

        </div>
        <div class="row">
          <div class="col">
            <div class="title sliding">
              <a href="/create-item-cond/"><i class="icon icon-back"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="card">
      <div class="card-header" style="background-color: aliceblue">
        Gambar barang
      </div>
      <div class="card-content">
        <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
        <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="front_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('front','front_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Depan</div>
             
            </div>
          </div>
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="back_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('back','back_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Belakng</div>
              
            </div>
          </div>
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="left_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('left','left_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Kiri</div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="right_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('right','right_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Kanan</div>
              
            </div>
          </div>
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="top_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('top','top_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Atas</div>
              
            </div>
          </div>
          <div class="col">
            <div class="col-33 tablet-15 demo-icon">
              <input type="file" id="bot_image" style="display:none">
              <div class="demo-icon-icon"><i class="material-icons" @click="upload('bot','bot_image')">add_a_photo</i></div>
              <div class="demo-icon-name">Bawah</div>
              
            </div>
          </div>
        </div>
      </div>
      </div>
      </form>
    </div>

    <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="20" data-slides-per-view="2" class="swiper-container swiper-init demo-swiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="" id="front" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Depan</span> </div>
        <div class="swiper-slide"> <img src="" id="back" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Belakang</span> </div>
        <div class="swiper-slide"> <img src="" id="left" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Kiri</span> </div>
        <div class="swiper-slide"> <img src="" id="right" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Kanan</span> </div>
        <div class="swiper-slide"> <img src="" id="top" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Atas</span> </div>
        <div class="swiper-slide"> <img src="" id="bot" style="max-width: 100%; max-height: 100%"/> <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Bawah</span> </div>
      </div>
    </div>

    <a href="#" class="col button button-medium button-fill" id="proceed" style="margin-top: 20px; margin-left: 55px; margin-right: 55px; margin-bottom: 30px;">Proceed</a>

    <input type="hidden" id="product_nm"/>
    <input type="hidden" id="product_categ"/>
    <input type="hidden" id="product_price"/>
    <input type="hidden" id="product_brand"/>
    <input type="hidden" id="product_type"/>
    <input type="hidden" id="product_year"/>
    <input type="hidden" id="product_cond"/>
    <input type="hidden" id="product_desc"/>
    <input type="hidden" id="product_note"/>
    <input type="hidden" id="product_unique"/>

    </div>
  </div>
</template>
<script>
  import $ from "jquery";
  import $$ from 'dom7';
  
  export default {
    methods: {
       upload: function(p,q) {
        document.getElementById(q).click();
        function readURL(input) {

          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
              $('#' + p).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#" + q).change(function() {
          readURL(this);
        });
      },

      createItem: function(e, page) {
        var self = this;
        var app = self.$app;
        
        var init_product = localStorage.pending_product_init;
        var init_desc = localStorage.pending_product_desc;

        var toastWithCallback = app.toast.create({
          text: 'Data berhasil tambahkan',
          closeButton: true,
          on: {
            close: function () {
              app.dialog.alert('Menunggu persetujuan admin');
            },
          }
        });

        $('#proceed').click(function() {
          var fd = new FormData();
          var files = $('#front_image')[0].files[0];
          var files2 = $('#back_image')[0].files[0];
          var files3 = $('#left_image')[0].files[0];
          var files4 = $('#right_image')[0].files[0];
          var files5 = $('#top_image')[0].files[0];
          var files6 = $('#bot_image')[0].files[0];

          if(files == null & files2 == null & files3 == null & files4 == null & files5 == null & files6 == null) {
            var toastWithCallback = app.toast.create({
              text: 'Gambar tidak boleh kosong',
              position: 'center',
              closeTimeout: 1500,
            });

            toastWithCallback.open();
          } else {
            fd.append('front_image', files);
            fd.append('back_image', files2);
            fd.append('left_image', files3);
            fd.append('right_image', files4);
            fd.append('top_image', files5);
            fd.append('bot_image', files6);

            fd.append('name', JSON.parse(init_product).product_nm)
            fd.append('price', JSON.parse(init_product).price)
            fd.append('description', JSON.parse(init_desc).desc)
            fd.append('min_description', JSON.parse(init_desc).minus)
            fd.append('plus_description', JSON.parse(init_desc).plus)
            fd.append('condition', JSON.parse(init_desc).condition)
            fd.append('user_id', Number(localStorage.user_id))
            fd.append('category_id', JSON.parse(init_product).category)
            fd.append('brand_id', JSON.parse(init_product).brand)
            fd.append('brand_type_id', JSON.parse(init_product).brand_type)
            fd.append('production_date', JSON.parse(init_desc).date)
            fd.append('tag', localStorage.tag)
            fd.append('start_price', JSON.parse(init_product).price)
            fd.append('start_date', JSON.parse(init_product).start_date)
            fd.append('interval', JSON.parse(init_product).interval)

            $.ajax({
              url: app.data.host + 'api/auctions.json',
              type: "POST",
              data: fd, 
              enctype: 'multipart/form-data',
              processData: false,
              contentType: false,
                    
              beforeSend: function() {
                
              },
              success: function(data) {
                console.log(data);
                page.router.navigate('/home/');
              }, 
              complete: function(data) {

              },
              error: function(xhr) {
                console.log(xhr);
              }
            });
          }
        });
      }
    },
    on: {
      pageBeoreIn: function() {

      },
      pageAfterIn: function(e, page) {
        var self = this;

        self.createItem(e, page);        
      }
    }
  }
</script>