<template>
  <div class="page" data-name="create-auction">
    <div class="page-content">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left">
          </div>
          <div class="row">
            <div class="col">
              <div class="title sliding">
                  <a href="/home/"><i class="icon icon-back"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>

    <!-- <div class="card"> -->
      <!-- <div class="card-header" style="background-color: aquamarine"><b>Lelang barang</b></div> -->
      <!-- <div class="card-content card-content-padding"> -->

        <section style="margin-top: 10px;">
            <div class="list no-hairlines-md">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Apa yang anda jual ?</div>
                    <div class="item-input-wrap">
                      <input type="text" id="product_nm" placeholder="Nama item" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                 <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Durasi lelang</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="interval_time" placeholder="Please choose...">
                        <option value="3">3 hari</option>
                        <option value="7">7 hari</option>
                        <option value="14">14 hari</option>
                      </select>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Ingin dimulai pada ?</div>
                      <div class="list no-hairlines-md">
                        <div class="item-content item-input">
                          <div class="item-input-wrap">
                            <input type="date" placeholder="Select date" id="start-date"/>
                          </div>
                        </div>
                      </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Kategori</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="item_category" placeholder="Please choose...">
                        
                      </select>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Brand</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="item_brand" placeholder="Please choose...">
                        
                      </select>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Brand type</div>
                    <div class="item-input-wrap input-dropdown-wrap">
                      <select id="item_brand_type" placeholder="Please choose...">
                        
                      </select>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Harga yg di ajukan</div>
                    <div class="item-input-wrap">
                      <input type="number" id="product_price" placeholder="Harga item lelang" required validate data-error-message="*Data wajib di isi">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
              </ul>
              <br>
              <div class="card-footer">
                <button class="col button button-medium button-fill" id="btn_next">next</button>
              </div>
            </div>
          </section>

        <!-- </div>
      </div> -->
    </div>
    </div>
    
  </div>
</template>
<script>
  import $ from "jquery";
  import $$ from 'dom7';

  export default {
    methods: {

    },
    on: {
      pageAfterIn: function(e, page) {
        var self = this;
        var app = this.$app;

        var toastWithCallback = app.toast.create({
          text: 'Data belum dilengkapi',
          position: 'center',
          closeTimeout: 1500,
        });

        $.ajax({
          type: "GET",
          url: app.data.host + "api/categories/",
          data: {

          },
          beforeSend: function() {
            app.preloader.show();
          },
          success: function(result) {
            var html = "";
            for(var i=0; i<result.data.length; i++) {
              html += '<option value="'+result.data[i].id+'">'+result.data[i].name+'</option>'
            }
            $("#item_category").append(html);
          },
          complete: function() {
            app.preloader.hide();
          }
        });

        $.ajax({
          type: "GET",
          url: app.data.host + "api/brands/",
          data: {

          },
          beforeSend: function() {

          },
          success: function(result) {
            var html = "";
            for(var i=0; i<result.data.length; i++) {
              html += '<option value="'+result.data[i].id+'">'+result.data[i].name+'</option>'
              localStorage.tag = result.data[i].tags;
            }
            $("#item_brand").append(html);
          },
          complete: function() {

          }
        });

        $.ajax({
          type: "GET",
          url: app.data.host + "api/brand_types/",
          data: {

          },
          beforeSend: function() {

          },
          success: function(result) {
            
            var html = "";
            for(var i=0; i<result.data.length; i++) {
              html += '<option value="'+result.data[i].id+'">'+result.data[i].name+'</option>'
            }
            $("#item_brand_type").append(html);
          },
          complete: function() {
            
          }
        });

        if (localStorage.is_login == "1") {
          $$('#btn_next').on('click', function(e) {
            var product_nm = document.getElementById('product_nm').value
            var item_category = document.getElementById('item_category').value
            var price = document.getElementById('product_price').value
            var interval = document.getElementById('interval_time').value
            var brand = document.getElementById('item_brand').value
            var brand_type = document.getElementById('item_brand_type').value
            var start_dt = document.getElementById('start-date').value

            var obj = {
                        product_nm: product_nm,
                        price: price,
                        category: item_category,
                        interval: interval,
                        brand: brand,
                        brand_type: brand_type,
                        start_date: start_dt
                      }
            if (product_nm.length > 0 & price.length > 0) {
                localStorage.pending_product_init = JSON.stringify(obj);
                // localStorage.status_page = "initial_create";
                page.router.navigate('/create-item-cond/');
              } else if (product_nm.length <= 0 || price.length <= 0) {
                toastWithCallback.open();
              }
          });
        } else {
          page.router.navigate('/login/');
          localStorage.page_return = "page-create";
        }

      }
    }
  }
</script>