<template>
	<div class="page" data-name="HistoryBidAuction">
  	<input type="hidden" id="auction_id" value="{{$route.params.auction_id}}" />
  	<div class="navbar">
      <div class="navbar-inner sliding">
      	<div class="left">
          <a href="/bid_page/:auction_id" class="link icon-only" data-panel="left">
            <i class="icon icon-back"></i>
          </a>
        </div>
      </div>
        <div class="title">Barang Lelang</div>
    </div>
	  <div class="page-content hide-navbar-on-scroll">
	  	<br>
		  <div data-pagination='{"el": ".swiper-pagination", "hideOnClick": true}' data-space-between="50" class="swiper-container swiper-init demo-swiper demo-swiper-auto">
			  <div class="swiper-pagination"></div>
			  <div class="swiper-wrapper product-img">

			  </div>
			</div>
			<section id="auction-user">
				
			</section>
		</div>
	</div>
</template>