<template>
  <div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      
      <div class="left">
        <a href="/account/" class="link back">
          <i class="icon icon-back"></i>
          <!-- <span class="if-not-md">Back</span> -->
        </a>
      </div>
      <div class="title">Dashboard Auction</div>
    </div>
  </div>
  <div class="toolbar tabbar toolbar-top">
    <div class="toolbar-inner">
      <a href="#tab-1" class="tab-link">Lelang Anda</a>
      <a href="#tab-2" class="tab-link">Lelang Di ikuti</a>
    </div>
  </div>
  <div class="tabs-swipeable-wrap">
    <div class="tabs">
      <div id="tab-1" class="page-content tab">
        <div class="block">
          <div class="list media-list">
            <ul>
              <section id="your-auction">
                <a href="#">
                 <li class="item-content">
                   <div class="item-media">
                     <img src="https://placeimg.com/80/80/people/1" style="width: 60px; height: 60px;">
                   </div>
                   <div class="item-inner">
                     <div class="item-title-row">
                       <div>John Doe</div>
                     </div>
                     <div class="item-text">Harga Awal : xxx</div>
                     <div class="item-text">Tanggal Berahir : 2019-08-12</div>
                   </div>
                 </li>
                </a>
              </section>

            </ul>
          </div>
        </div>
        <div class="fab fab-right-bottom">
          <a href="#" id="dashboard-bid">
            <i class="icon f7-icons">add</i>
          </a>
        </div>
      </div>
      <div id="tab-2" class="page-content tab">
        <div class="block">
          <div class="list media-list">
            <ul>

              <section id="followed-auction">
              <a href="#">
                <li class="item-content">
                  <div class="item-media">
                    <img src="https://phoneplacekenya.com/wp-content/uploads/2018/09/Infinix-Note-4-x-1.png" style="width: 60px; height: 60px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div style="color: #000000">John Doe</div>
                      <div class="item-after"><span class="badge color-green">7</span></div>
                    </div>
                    <div class="item-text">Harga Awal : xxx</div>
                    <div class="item-text">Tanggal Berahir : 2019-08-12</div>
                  </div>
                </li>
              </a>
              
              <a href="#" id="auction_item">
                <li class="item-content">
                  <div class="item-media">
                    <img src="https://phoneplacekenya.com/wp-content/uploads/2018/09/Infinix-Note-4-x-1.png" style="width: 60px; height: 60px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div style="color: #000000">John Doe</div>
                      <div class="item-after"><span class="badge color-green">7</span></div>
                    </div>
                    <div class="item-text">Harga Awal : xxx</div>
                    <div class="item-text">Tanggal Berahir : 2019-08-12</div>
                  </div>
                </li>
              </a>

              <a href="#" id="auction_item">
                <li class="item-content">
                  <div class="item-media">
                    <img src="https://phoneplacekenya.com/wp-content/uploads/2018/09/Infinix-Note-4-x-1.png" style="width: 60px; height: 60px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div style="color: #000000">John Doe</div>
                      <div class="item-after"><span class="badge color-green">7</span></div>
                    </div>
                    <div class="item-text">Harga Awal : xxx</div>
                    <div class="item-text">Tanggal Berahir : 2019-08-12</div>
                  </div>
                </li>
              </a>
              </section>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</template>
<script>
  import $ from "jquery";
  import $$ from 'dom7';

  export default {
    methods: {

    },
    on: {
      pageBeforeIn: function() {

      },
      pageAfterIn: function(e, page) {
        e.preventDefault
        var self = this;
        var app = self.$app;
        var html = '';
        html += 
              '<div class="card demo-card-header-pic">\
                 <div style="background-image:url(https://img.rea-asia.com/rumah123/750x320-crop/land/la19/1994775/las1994775-tanah-di-jual-di-kutawaringin-bandung-15474310188609.jpg)" class="card-header align-items-flex-end">Journey To Mountains</div>\
                 <div class="card-content card-content-padding">\
                   <p>dummy layout for auction recomendations</p>\
                 </div>\
               </div>'

        $('.your-auction').html(html);

        if (localStorage.is_verify === 'true') {
          $('#dashboard-bid').click(function() {
            page.router.navigate('/create/');
          });
        } else if (localStorage.is_verify === 'false') {
          $('#dashboard-bid').click(function() {
            app.preloader.show();
            setTimeout(function () {
              app.preloader.hide();
              toastWithCallback.open();
              page.router.navigate('/account-edit/');
            }, 800);
          });
        }

        var toastWithCallback = app.toast.create({
          text: 'Verify your account',
          position: 'center',
          closeTimeout: 1000,
        });
      }
    }
  }
</script>