<template>
  <div class="page" data-name="home">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="right">
          <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
            <i class="icon material-icons md-only demo-icon">search</i>
          </a>
        </div>
        <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search components" class="">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
        <div class="title">BidU</div>

      </div>
    </div>
    <div class="page-content hide-navbar-on-scroll ptr-content" data-ptr-mousewheel="true" @ptr:refresh="refresh">
      <div class="ptr-preloader">
        <div class="preloader"></div>
        <div class="ptr-arrow"></div>
      </div>

      <br>
      <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="20" data-direction="vertical" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init demo-swiper">
        <div class="swiper-wrapper swipper-banner-custom">

          <div class="swiper-slide"><div style="height: 100%; width: 100%"><img src="https://img.rea-asia.com/rumah123/750x320-crop/land/la19/1994775/las1994775-tanah-di-jual-di-kutawaringin-bandung-15474310188609.jpg" style="max-height: 100%; width: 100%; " /></div></div>
          <div class="swiper-slide"><div style="height: 100%; width: 100%"><img src="https://storage.jualo.com/original/13472925/iklan-rumah-murah-jog-rumah-dijual-13472925.jpg" style="max-height: 100%; width: 100%; " /></div></div>
          <div class="swiper-slide"><div style="height: 100%; width: 100%"><img src="https://apollo-singapore.akamaized.net/v1/files/4ailvp6ugb491-ID/image;s=966x691;olx-st/_1_.jpg" style="max-height: 100%; width: 100%; " /></div></div>
        </div>
      </div>

      <div class="row terkini">
        <div class="col-50">
          <b id="lbl-terkini" class="lbl-txt"><span>Barang Terkini</span></b>
        </div>
        <div class="col-25 lbl-href">
          <a href="/page-terkini/"> See all <i class="f7-icons" style="font-size: 8px;">chevron_right</i></a>
        </div>
      </div>
      <!-- blok atas -->
        <div data-space-between="10" data-slides-per-view="3" class="swiper-container demo-swiper top-auction-swiper demo-swiper-auto">
          <div class="swiper-wrapper top-auction">

          </div>
        </div>

      <div class="row populer">
        <div class="col-50">
          <b id="lbl-popular" class="lbl-txt"><span>Barang Populer</span></b>
        </div>
        <div class="col-25 lbl-href">
          <a href="/page-popular/"> See all <i class="f7-icons" style="font-size: 8px;">chevron_right</i></a>
        </div>
      </div>
        <!-- blok populer -->
        <div data-space-between="10" data-slides-per-view="3" class="swiper-container demo-swiper mid-auction-swiper demo-swiper-auto">
          <div class="swiper-wrapper mid-auction">
              
          </div>
        </div>

      <div class="row berakhir">
        <div class="col-50">
          <b id="lbl-berakhir" class="lbl-txt"><span>Akan berakhir</span></b>
        </div>
        <div class="col-25 lbl-href">
          <a href="/page-berakhir/"> See all <i class="f7-icons" style="font-size: 8px;">chevron_right</i></a>
        </div>
      </div>
        <!-- blok akan habis -->
        <div data-space-between="10" data-slides-per-view="3" class="swiper-container demo-swiper bot-auction-swiper demo-swiper-auto">
          <div class="swiper-wrapper bot-auction">
              
          </div>
        </div>
      <br style="margin-left: 30px; margin-right: 30px; margin-bottom: 80px;"/>
    </div>

    <div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="#" class="link" id="history_button"><i class="material-icons demo-icon">gavel</i></a>
        <a href="/notification/" class="link"><i class="material-icons demo-icon">email</i></a>
        <a href="/home/" class="link"><i class="material-icons demo-icon">home</i></a>
        <a href="#" id="trx_button" class="link"><i class="f7-icons demo-icon">list</i></a>
        <a href="#" class="link" id="account_button"><i class="material-icons demo-icon">account_circle</i></a>
      </div>
    </div>
  </div>

</template>
<script>
import $ from "jquery";
import $$ from 'dom7';
  
export default {
  methods: {

  },
  on: {
    pageBeforeIn: function() {

    },
    pageAfterIn: function(e, page) {
      var self = this;

        if (localStorage.is_login == "1") {
          $('#trx_button').click(function() {
            page.router.navigate('/transaction/');
          });

          $('#history_button').click(function() {
            page.router.navigate('/history/');
          });

          $('#account_button').click(function() {
            page.router.navigate('/account/');
          });
        } else if(localStorage.is_login == "0" || localStorage.length <= 1 || localStorage.is_login == "") {
          $('#trx_button').click(function() {
            page.router.navigate('/login/');
          });

          $('#history_button').click(function() {
            page.router.navigate('/login/');
          });

          $('#account_button').click(function() {
            page.router.navigate('/login/');
          });
        }

      self.getAuction(e, page);
    }
  },
  methods: {
    refresh: function(e, done) {
      var self = this;
      setTimeout(function() {
        if (typeof done == "function") {
          self.getAuction(e, done);
          done();
        }
      }, 500);
    },
    getAuction: function(e, page) {
        var top = '';
        var self = this;
        var app = self.$app;

        var toastWithCallback = app.toast.create({
          text: 'Anda harus login terlebih dahulu',
          position: 'center',
          closeTimeout: 1500,
        });

        $.ajax({
          url: app.data.host + "api/auctions/by_type.json?type=new&limit=3",
          data: {
          },
          beforeSend: function() {
            var skeleton = '';
            
            for(var i=0; i<4; i++) {
              skeleton += '<div class="swiper-slide skeleton-text skeleton-effect-fade">'
                       +  '   <a href="/bid_page/">'
                       +  '    <div class="row">'
                       +  '      <img src=""/>'
                       +  '    </div>'
                       +  '      <div class="row">'
                       +  '        <div class="row">'
                       +  '          <i class="icon material-icons md-only">person<span class="badge color-green"></span></i>'
                       +  '        </div>'
                       +  '      </div>'
                       +  '   <div class="row skeleton-block">'
                       +  '    <div class="col">'
                       +  '      <span class="item-title"></span>'
                       +  '      <span class="item-title"><small>Bid awal &nbsp <b></b></small></span>'
                       +  '    </div>'
                       +  '   </div>'
                       +  '  </a>'
                       +  '</div>'
            }
            $(".top-auction").html(skeleton);
            $(".mid-auction").html(skeleton);
            $(".bot-auction").html(skeleton);

            app.swiper.create('.top-auction-swiper', {width:131, spaceBetween:10});
            app.swiper.create('.mid-auction-swiper', {width:131, spaceBetween:10});
            app.swiper.create('.bot-auction-swiper', {width:131, spaceBetween:10});
          },
          success: function(data) {
            var img = '';
              for(var i = 0; i < data.length; i++) {
                if(data[i].auction_status == "Approved") {
                  if(data[i].attachment[0] != null) {
                    img = data[i].attachment[0].name;
                  } else {
                    img = '';
                  }
                  
                  top += '<div class="swiper-slide swiper-custom">'
                      +  '    <a href="/bid_page/' + data[i].id +'">'
                      +  '    <div class="row" style="max-width: 100%;">'
                      +  '      <img src="' + app.data.host + img + '" class="item-img" style="width: 100%;"/>'
                      +  '    </div>'
                      +  '      <div class="row" style="margin-left: 75%">'
                      +  '        <div class="row">'
                      +  '          <i class="icon material-icons md-only">person<span class="badge color-green"> ' + data[i].log_bid.length + ' </span></i>'
                      +  '        </div>'
                      +  '      </div>'
                      +  '   <div class="row" style="background:beige">'
                      +  '    <div class="col">'
                      +  '      <span class="item-title">' + data[i].name + '</span>'
                      +  '      <span class="item-title"><small>Bid awal &nbsp <b>' + data[i].start_price + '</b></small></span>'
                      +  '    </div>'
                      +  '   </div>'
                      +  '  </a>'
                      +  '</div>'
                }
              }

              setTimeout(function() {
                $(".top-auction").html(top);
                app.swiper.create('.top-auction-swiper', {width:131, spaceBetween:10});
              }, 1000);

              setTimeout(function() {
                $(".mid-auction").html(top);
                app.swiper.create('.mid-auction-swiper', {width:131, spaceBetween:10});
              }, 1000);

              setTimeout(function() {
                $(".bot-auction").html(top);
                app.swiper.create('.bot-auction-swiper', {width:131, spaceBetween:10});
              }, 1000);
          },
          error: function(data, xhr) {
            var html = '';
            setTimeout(function() {
              if(xhr) {
                html += '<div style="width: 100%;">\
                          <span style="padding-left: 33%;">\
                            Something went wrong !\
                          </span>\
                          <br>\
                          <span style="padding-left: 25%;">\
                            <img src="../static/empty.png" style="width: 50%;"/>\
                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...\
                            There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain</p>\
                          </span>\
                         </div>\
                        '
                $(".terkini").hide();
                $(".populer").hide();
                $(".berakhir").hide();

                $(".top-auction").html(html);
                $(".mid-auction").hide();
                $(".bot-auction").hide();
                app.swiper.create('.top-auction-swiper', {width:131, spaceBetween:10});
                app.swiper.create('.mid-auction-swiper', {width:131, spaceBetween:10});
                app.swiper.create('.bot-auction-swiper', {width:131, spaceBetween:10});
              }
            }, 600);
          }
        });

    }
  }
}
</script>