<template>
<div class="page" data-name="Login-page">
  <div class="page-content">
    <div class="view"  >
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="list">
            <h2><i>BidU</i></h2>
            <div class="item-media">
              <img src="../static/logo.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: -50px; width: 50%;" />
            </div>
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Username</div>
                  <div class="item-input-wrap">
                    <input class="effect-3" type="text" name="username" id="username" placeholder="">
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Password</div>
                  <div class="item-input-wrap">
                    <input class="effect-3" type="password" name="password" id="password" placeholder="">
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="row">
            <div class="col">
              <button class="button" id="submit">Log in</button>
            </div>
          </div>
        <div class="block-footer">Belum memiliki akun? Silahkan <br /> Register  <a href="#" id="register">disini</a> </div>
        </div>
      </div>
  </div>
  
</div>
</template>
<script>
  import $ from "jquery";
  import $$ from 'dom7';

  export default {
    methods: {

    },
    on: {
      pageBeforeIn: function() {
        var self = this;
        var app = self.$app;
        
        app.preloader.show();
        localStorage.clear();
      },
      pageAfterIn: function(e, page) {
        var self = this;
        var app = self.$app;

        e.preventDefault();

        app.preloader.hide();

        $$('#submit').click(function(e) {
          var txt_username = $('#username').val()
          var txt_password = $('#password').val()
          $.ajax({
            url: app.data.host + 'api/auth/login',
            type: 'POST',
            data: {
              username : txt_username,
              password : txt_password
            },
            beforeSend: function(data) {
            },
            success: function(data) {
              app.preloader.show();
              if(data.status == "200") {
                localStorage.user_id = data.data.id
                localStorage.username = data.data.username
                localStorage.fullname = data.data.first_name + data.data.last_name
                localStorage.phone = data.data.phone
                localStorage.email = data.data.email
                localStorage.is_login = "1"; 
                localStorage.is_verify = data.data.verification_status;
              } else {
                localStorage.user_id = "";
                localStorage.username = "";
                localStorage.fullname = "";
                localStorage.phone = "";
                localStorage.email = "";
                localStorage.is_login = "0";
                localStorage.is_verify = "";
              }
            },
            complete: function(data) {
              if (localStorage.is_login === "0") {
                setTimeout(function () {
                  app.preloader.hide();
                  toastWithCallback.open();
                  page.router.navigate('/login/');
                }, 1000);
              } else if(localStorage.is_login === "1") {
                setTimeout(function () {
                  app.preloader.hide();
                  page.router.navigate('/home/');
                }, 1000);
              }
            },
            error: function(xhr) {
              page.router.navigate('/login/');
              toastWithCallback.open();
            }
          });
        });

        var toastWithCallback = app.toast.create({
          text: 'Login problem or signup first',
          // closeButton: true
          closeTimeout: 900
        });

        $$('#register').on('click', function() {
          e.preventDefault();
          page.router.navigate('/signupform/');
        });
      }
    }
  }
</script>