<template>
  <div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
        </a>
      </div>
      <div class="title">Inbox</div>
    </div>
  </div>
    <div class="page-content hide-navbar-on-scroll">
      <div class="list media-list">
        <ul>
          <li class="item-content">
            <div class="item-media">
              <img src="https://placeimg.com/80/80/people/1" style="width: 70px; height: 70px;">
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="">Auction item</div>
                <div class="item-after"><span class="badge color-orange">Di ikuti</span></div>
              </div>
              <div class="item-subtitle">Harga awal: 10.000.000</div>
              <div class="item-text">Due date: xxxx-xx-xx</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-media">
              <img src="https://placeimg.com/80/80/people/1" style="width: 70px; height: 70px;">
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="">Auction item</div>
                <div class="item-after"><span class="badge color-green">Barang anda</span></div>
              </div>
              <div class="item-subtitle">Harga awal: 10.000.000</div>
              <div class="item-text">Due date: xxxx-xx-xx</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
</template>