<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="right">
          <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-berakhir">
            
            <i class="icon material-icons md-only demo-icon">search</i>
          </a>
        </div>
        <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-berakhir searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search components" class="">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Rekomedasi</div>
      </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <section class="list-data">
          
        </section>
        
      </div>

    </div>
  </div>
</template>

<script>
 export default {
  on: {
    pageBeforeIn: function() {
      var self = this;
      self.$app.preloader.show();
      setTimeout(function () {
        self.$app.preloader.hide();
      }, 800);
    }
  }
}
</script>