<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="right">
          <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-rekomendasi">
            <i class="icon material-icons md-only demo-icon">search</i>
          </a>
        </div>
        <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-rekomendasi searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search components" class="">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back demo-icon"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="subnavbar" style="height: 70px;">
        <div class="" style="overflow: hidden;">
          <div class="" style="height: 70px; margin-top: 10px;">

            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="5" data-slides-per-view="4" class="swiper-container swiper-init demo-swiper" style="margin: 0px 0 4px; height: 60px;">
              <div class="swiper-wrapper" style="padding-top: 5px; padding-bottom: 5px;">
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://jixifox.files.wordpress.com/2016/01/color-splash.jpg);">Komputer</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://previews.123rf.com/images/hakkiarslan/hakkiarslan1606/hakkiarslan160600347/59434543-abstract-color-splash-background.jpg);">Smartphone</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://cdn.pixabay.com/photo/2015/05/30/10/56/colorful-790254_960_720.jpg);">Gaya Hidup</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://hanialtesha1.files.wordpress.com/2013/09/colour.jpg);">Otomotif</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://cdn.pixabay.com/photo/2016/12/16/15/31/the-background-1911648_960_720.jpg);">Music</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://cdn.pixabay.com/photo/2018/02/05/17/05/background-3132676_960_720.jpg);">Olah raga</div>
                <div class="swiper-slide" style="font-size: 12px; color: #fff; font-weight: bold; height: 55px; background-image: url(https://previews.123rf.com/images/pavelshlykov/pavelshlykov1804/pavelshlykov180400044/98963799-original-oil-painting-on-wall-abstract-art-background-brushstrokes-of-paint-modern-art-contemporary-.jpg);">Rumah tangga</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="title">Terkini</div>
      </div>
    </div>
    <div class="page-content hide-navbar-on-scroll hide-subnavbar-on-scroll">
      <section class="list-data" style="padding-top: 30px">
        
      </section>
      
    </div>
  </div>
</template>

<script>
  import $ from "jquery";
  import $$ from 'dom7';
  export default {
    mathods: {

    },
    on: {
      pageBeforeIn: function() {
        var self = this;
        var app = self.$app;

        self.$app.preloader.show();
        setTimeout(function () {
          self.$app.preloader.hide();
        }, 800);
      },
      pageAfterIn: function() {
        var self = this;
        var app = self.$app;
        var html = '';
              html = '<div class="row">';
          $.ajax({
            // url: app.data.host + 'api/auctions/by_type.json?type=new',
            url: app.data.host + "api/auctions.json",
            data:{

            },
            beforeSend: function() {

            },
            success: function(data) {
              for(var i=0; i<data.length; i++) {
                if(data[i].auction_status === 'Approved') {
                  // console.log(data);
                  html += '\
                    <div class="col-50">\
                      <div class="card">\
                        <div class="card-content">\
                          <a href="/bid_page/'+data[i].id+'">\
                            <img src="'+ app.data.host + data[i].attachment[0].name+'" style="width:100%; height:225px;"/>\
                              <div class="row" style="margin-left: 80%">\
                              <i class="icon material-icons md-only">person<span class="badge color-green"> '+ data[i].log_bid.length +' </span></i>\
                              </div>\
                           <div class="row">\
                            <div class="col" style="margin-bottom: 10px;">\
                              <span class="item-bid" style="font-size: 15px;">'+data[i].name+'</span>\
                              <span class="item-bid">'+data[i].start_price+'</span>\
                            </div>\
                           </div>\
                          </a>\
                        </div>\
                      </div>\
                    </div>'
                }
              }
              html += '</div>'
              $$('.list-data').html(html);
            }
          });
      }
    }
  }
</script>