<template>
  <div class="page" data-name="register">
    <div class="page-content">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left">

          </div>          
          <div class="row">
            <div class="col">
              <div class="title sliding">
                  <a href="/home/"><i class="icon icon-back"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <div class="item-inner">
      <div class="item-title-row">
        <br>
        <br>
      </div>
    </div>

    <div class="card">
      <div class="card-header" style="background-color: azure; align-content: center; margin-bottom: 20px;">User Registration</div>
      <div class="card-content card-content-padding">

        <div class="list no-hairlines-md">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Username</div>
                <div class="item-input-wrap">
                  <input type="text" id="txt_username" placeholder="Username">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Phone</div>
                <div class="item-input-wrap">
                  <input type="text" id="txt_phonenumber" placeholder="Phone Number">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Email</div>
                <div class="item-input-wrap">
                  <input type="text" id="txt_email" placeholder="Email Address">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input-wrap">
                  <input type="password" name="password" placeholder="Your password">
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Password</div>
                <div class="item-input-wrap">
                  <input type="password" name="password" placeholder="Verify Your password">
                </div>
              </div>
            </li>
          </ul>
          <br>
          <div class="card-footer">
            <div class="block block-strong row">
              <div class="col" style="background-color: azure;">
                <button class="button convert-form-to-data" type="submit">Submit</button>
              </div>
            </div>

          </div>
        </div>
          <!-- </section> -->

        </div>
      </div>
    </div>
    </div>

  </div>
</template>