<template>
  <div class="page no-toolbar no-navbar no-swipeback">
    <div class="page-content login-screen-content">
      <!-- <div class="login-screen-title">Daftar Ayolelang</div> -->
      <form>
        <div class="list">
          <ul>
            <li class="item-content item-input item-input-with-value">
              <div class="item-inner">
                <div class="item-title item-label">Masukan Nomor Anda</div>
                <div class="item-input-wrap">
                  <input type="text" placeholder="Contoh 0812xxxxxxxx" id="sign-phone" class="input-with-value">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><a href="/otp/" class="list-button">Lanjutkan</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</template>