<template>
  <div class="page no-toolbar no-navbar no-swipeback">
    <div class="page-content login-screen-content">
      <div class="login-screen-title">BidU Registration</div>
        <form id="signup-otp-form">
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Kode OTP</div>
                  <div class="item-input-wrap">
                    <input name="signup-otp-code" type="text" placeholder="Masukan Kode OTP Anda">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li><a href="/login/" class="list-button">Lanjutkan</a></li>
            </ul>
          </div>
        </form>
      <div class="block">
        <p>Tidak menerima SMS kode OTP pada handphone anda ?</p>
        <p><a href="#">Klik Disini</a> Untuk kirim ulang kode OTP</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    on: {
      pageBeforeIn: function() {

      },
      pageAfterIn: function() {

      }
    },
    methods: {

    }
  }
</script>