<template>
  <div class="page no-toolbar no-navbar no-swipeback">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/login/" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Register</div>
      </div>
    </div>


    <div class="page-content login-screen-content">
        <!-- <form class="list" id="signup-form"> -->
      <div class="list" style="padding-top: 50px;">
        <div class="item-media">
        <img src="../static/signuplogo.png" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px; margin-top: 50px; width: 80%;" />
        </div>
        <!-- <div class="card"> -->
          <!-- <div class="card-content card-content-padding"> -->
            
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Nama depan</div>
                  <div class="item-input-wrap">
                    <input class="firstname effect-3" type="text" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Nama belakang</div>
                  <div class="item-input-wrap">
                    <input class="lastname effect-3" type="text" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">E-mail</div>
                  <div class="item-input-wrap">
                    <input class="email effect-3" type="email" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">No Handphone</div>
                  <div class="item-input-wrap">
                    <input class="phone effect-3" type="tel" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Username</div>
                  <div class="item-input-wrap">
                    <input class="username effect-3" type="text" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label" style="text-align: left;">Password</div>
                  <div class="item-input-wrap">
                    <input class="password effect-3" type="password" style="border-width: 5" placeholder="" required validate data-error-message="*Data wajib di isi">
                    <span class="input-clear-button"></span>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>
              </li>
            </ul>

          <!-- </div> -->
        <!-- </div> -->
        <a href="#" class="button list-button" @click="signup">Simpan</a>
      </div>
      <!-- </form> -->
    </div>
  </div>
</template>
<script>
  import $ from 'jquery';
  
  export default {
    methods: {
      signup: function() {
        var self = this;
        var app = this.$app;

        var router = this.$router;

        var userTaken = app.toast.create({
          text: 'User has been taken',
          closeTimeout: 900
        });

        var firstname = $('.firstname').val();
        var lastname = $('.lastname').val();
        var mail = $('.email').val();
        var phone = $('.phone').val();
        var username = $('.username').val();
        var pass = $('.password').val();
        
        if ((firstname != '') && (lastname != '') && (mail != '') && (password != '') && (username != '')) {
          $.ajax({
            type: 'POST',
            url: app.data.host + 'api/auth/register',
            // contentType: 'application/json',
            // dataType: 'json',
            data: {
              first_name: firstname, 
              last_name: lastname, 
              email: mail, 
              phone: phone, 
              username: username,
              password: pass, 
            },
            // headers: app.data.header,
            success: function(data) {
              // console.log(data);
              app.preloader.show();
              if(data.status == '400') {
                // userTaken.open();
                setTimeout(function () {
                  userTaken.open();
                  app.preloader.hide();
                },800);
              } else {
                setTimeout(function () {
                  app.preloader.hide();
                  router.navigate('/otp/');
                },800);
              }
            },
            error: function( errorThrown ){
              console.log(errorThrown);
            }
          });
        } else {
          var empty = app.toast.create({
            text: 'Isi field yang kosong !',
            closeTimeout: 900
          });

          empty.open();
          setTimeout(function () {
            empty.open();
            app.preloader.hide();
          },800);
          console.log('tidak boleh kosong');
        }
      }
    }
  }
</script>