<template>
  <div class="page" data-name="TransactionPage">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="/home/" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">Riwayat Transaksi</div>
    </div>
  </div>
  <div class="toolbar tabbar toolbar-top">
    <div class="toolbar-inner">
      <a href="#tab-1" class="tab-link">Lelang anda</a>
      <a href="#tab-2" class="tab-link">Lelang diikuti</a>
    </div>
  </div>

   <div class="tabs-swipeable-wrap">
    <div class="tabs">
      <div id="tab-1" class="page-content tab">
        <div class="block">
          <div class="list media-list">
            <ul>
              <section id="your-auction">

              </section>
            </ul>

          </div>
        </div>
      </div>

      <div id="tab-2" class="page-content tab">
        <div class="block">
          <div class="list media-list">
            <ul>
              <section id="followed-auction">
                
              </section>
            </ul>
          </div>
  
        </div>
      </div>

    </div>
  </div>
</div>

</div>

</template>
<script>
  import $ from 'jquery';
  export default {
    on: {
      pageBeforeIn: function() {

      },
      pageAfterIn: function() {
        var self = this;
        self.getYourAuction();
        self.getFollowedAuction();
      }
    },
    methods: {
      getYourAuction: function() {
        var self = this;
        var app = self.$app;

        var html = '';

        $.ajax({
          url: app.data.host + '/api/transactions?user_id=' + localStorage.user_id,
          data: {

          },
          beforeSend: function() {

          },
          success: function(data) {
            for(var i=0; i<data.length; i++) {
              html += '<a href="/detail-transaction/' + data[i].id + '">\
                       <li class="item-content">\
                         <div class="item-media">\
                           <img src="' + app.data.host + data[i].attachment[0].name + '" style="width: 60px; height: 60px;">\
                         </div>\
                         <div class="item-inner">\
                           <div class="item-title-row">\
                             <div style="color: #000000">'+data[i].name+'</div>\
                             <div class="item-after"><span class="badge color-orange">' + data[i].status + '</span></div>\
                           </div>\
                           <div class="item-text">Harga Awal : ' + data[i].start_price + '</div>\
                           <div class="item-text">Harga Tertinggi : ' + data[i].top_bid + '</div>\
                           <div class="item-text">Tanggal Berahir : ' + 
                              new Date(data[i].end_date).getFullYear() + '-' +
                              new Date(data[i].end_date).getMonth() + '-' +
                              new Date(data[i].end_date).getDate() + ' ' +
                              new Date(data[i].end_date).getHours() + ':' +
                              new Date(data[i].end_date).getMinutes() + ':' +
                              new Date(data[i].end_date).getSeconds() + 
                            '</div>\
                         </div>\
                      </li>\
                      </a>'
            }
            $('#your-auction').html(html);

          },
          complete: function() {

          }
        });
      },
      getFollowedAuction: function() {
        var self = this;
        var app = self.$app;

        var html = '';

        $.ajax({
          type: "get",
          url: app.data.host + 'api/transactions/selling_transaction?user_id=' + localStorage.user_id,
          data: {

          },
          beforeSend: function() {

          },
          success: function(data) {
            console.log(data);
            for(var i=0; i<data.length; i++) {
              html += '<a href="/detail-transaction/' + data[i].id + '">\
                       <li class="item-content">\
                         <div class="item-media">\
                           <img src="' + app.data.host + data[i].attachment[0].name + '" style="width: 60px; height: 60px;">\
                         </div>\
                         <div class="item-inner">\
                           <div class="item-title-row">\
                             <div style="color: #000000">' + data[i].name + '</div>\
                             <div class="item-after"><span class="badge color-orange">' + data[i].status + '</span></div>\
                           </div>\
                           <div class="item-text">Harga Awal : ' + data[i].start_price + '</div>\
                           <div class="item-text">Harga Tertinggi : ' + data[i].top_bid + '</div>\
                           <div class="item-text">Tanggal Berahir : ' + 
                              new Date(data[i].end_date).getFullYear() + '-' +
                              new Date(data[i].end_date).getMonth() + '-' +
                              new Date(data[i].end_date).getDate() + ' ' +
                              new Date(data[i].end_date).getHours() + ':' +
                              new Date(data[i].end_date).getMinutes() + ':' +
                              new Date(data[i].end_date).getSeconds() + 
                            '</div>\
                         </div>\
                      </li>\
                      </a>'
            }
            $('#followed-auction').html(html);

          },
          complete: function() {

          },
          error: function(data, xhr) {
            console.log('error xd');
            console.log(data);
          }
        });
      }
    }

  }

</script>