<template>
	<div class="page page-content" data-name="FolowedTransactionDetailPage">

	<input type="hidden" id="trx_id" value="{{$route.params.ftrx_id}}" />
  	<div class="navbar">
      <div class="navbar-inner sliding">
      	<div class="left">
          <a href="/transaction/" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Barang Lelang</div>
      </div>
    </div>

	<div style="margin-bottom: 20px;">Pengiriman barang lelang sedang berlangsung</div>
    <div class="row" style="padding-top: 20px;">
      <div class="col-77">
        <div class="card">
          <div class="card-content card-content-padding">
          	<div class="block">
          	<div class="list media-list">
            	<ul>
                <li class="item-content">
                  <div class="item-media">
                    <img src="https://phoneplacekenya.com/wp-content/uploads/2018/09/Infinix-Note-4-x-1.png" id="auction_img" style="width: 60px; height: 60px;">
                  </div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div style="color: #000000" id="auction_name">Auction item</div>
                    </div>
                    <div class="item-text" id="harga_awal">Harga Awal : xxx</div>
                    <div class="item-text" id="harga_tertinggi">Harga Tertinggi : xxx</div>
                    <div class="item-text">Tanggal Berahir : <span id="due_date"> 2019-08-12 </span></div>
                  </div>
                </li>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <i class="material-icons demo-icon">menu</i>&nbsp&nbsp&nbsp
                  <div class="item-inner">
                    <div class="col">
                      <span style="font-size: 13px;">Deskripsi lengkap</span>
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <ul>
                    <li><b>Tipe : </b><span id="tipe"></span></li>
                    <li><b>Merek : </b><span id="merek"></span></li>
                    <li><b>Model : </b><span id="model"></span></li>
                    <li><b>Kategori : </b><span id="kateg"></span></li>
                    <li><b>Kondisi barang : </b><span id="kondisi"></span></li>
                    <li><b>Unik : </b><span id="unik"></span></li>
                    <li><b>Tahun : </b><span id="tahun"></span></li>
                    <li><b>Deskripsi : </b><span id="desc"></span></li>
                    <li><b>Plus : </b><span id="descplus"></span></li>
                    <li><b>Minus : </b><span id="descminus"></span></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        </div>
        </div>
      </div>

    </div>

    <div class="timeline tablet-sides">
      <section id="status-auction">
      	
      </section>
    </div>
  </div>
</template>
<script>
	import $ from 'jquery';

	export default {
		on: {
			pageBeforeIn: function() {

			},
			pageAfterIn: function() {
				var self = this;
				var app = self.$app;

				self.getStatusAuction();
			}
		},
		methods: {
			getStatusAuction: function() {
				var html = '';
				var self = this;
				var app = self.$app;

				var trx_id = $('#trx_id').val();

				$.ajax({
					url: app.data.host + '/api/transactions/' + trx_id,
					data: {

					},
					success: function(data) {
						console.log(data);

						$('#auction_name').text(data.name);
						// $('#auction_img').text(data.attachment[0].name);
						$('#harga_awal').text(data.start_price);
						$('#harga_tertinggi').text(data.top_bid);
						$('#due_date').text(data.end_date);

						$('#tipe').text(data.brand);
						// $('#merek').text(data.brand_type);
						$('#model').text(data.brand_type);
						$('#kateg').text(data.category);
						$('#kondisi').text(data.condition);
						// $('#unik').text(data.);
						$('#tahun').text(data.production_date);
						$('#desc').text(data.description);
						$('#descplus').text(data.plus_description);
						$('#descminus').text(data.min_description);

					},
					complete: function() {

					},
					error: function() {

					}

				});
						html += '\
					<div class="timeline-item">\
		        <div class="timeline-item-date">01 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Menunggu Pembayaran</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">02 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Menunggu Konfirmasi Pembayaran (sistem /admin)</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">03 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Telah dibayar</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">04 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Diproses (Auctioner)</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">05 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Dikirim</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">06 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Tiba</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">07 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Dikomplain (Bidder)</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">08 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Selesai (Bidder or Sistem)</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">09 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Pesanan Dibatalkan</div>\
		        </div>\
		      </div>\
		      <div class="timeline-item">\
		        <div class="timeline-item-date">10 <small> - </small></div>\
		        <div class="timeline-item-divider"></div>\
		        <div class="timeline-item-content">\
		          <div class="timeline-item-inner">Dalam Proses</div>\
		        </div>\
		      </div>'

		    $('#status-auction').html(html)
			}
		}
	}

</script>