<template>
  <div class="page">
  <div class="page-content" data-name="create-auction">
      <div class="navbar">
        <div class="navbar-inner">

          <div class="left">

          </div>
          <div class="row">
            <div class="col">
              <div class="title sliding">
                  <a href="/create-item-cond/"><i class="icon icon-back"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: aliceblue">
          Gambar barang
        </div>
        <div class="card-content">
          <div class="col-33 tablet-15 demo-icon">
            <div class="demo-icon-icon"><a href="#" id="openCamera"><i class="material-icons">add_a_photo</i></a></div>
            <div class="demo-icon-name">add</div>
          </div>
        </div>
      </div>
      <a href="/home/" class="col button button-medium button-fill" style="margin-top: 20px; margin-left: 55px; margin-right: 55px; margin-bottom: 30px;">Proceed</button>
      </a>
    </div>
  </div>
</template>
<script>

</script>