<template>
  <div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
          <div class="left">
            <a href="/home/" class="link icon-only" data-panel="left">
              <i class="icon f7-icons if-not-md">menu</i>
              <i class="icon icon-back"></i>
            </a>
          </div>
          <div class="title">Top up</div>
        </div>
      </div>

      point yang di gunakan adalah ayombati COIN.
      
      <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
          <a href="/home/" class="link"><i class="f7-icons">home</i></a>
          <a href="/left-page-1/" class="link"><i class="f7-icons">message</i></a>
          <a href="/left-page-2/" class="link"><i class="f7-icons">bitcoin</i></a>
          <a href="/account/" class="link"><i class="f7-icons">person</i></a>
        </div>
      </div>
  </div>
</template>
<script>
export default {};
</script>