:root {
  --f7-skeleton-color: #ccc;
}
.theme-dark {
  --f7-skeleton-color: #515151;
}

/*.timeline-item-divider {
  background: #032cd6;
}
*/
.device-cordova.device-ios {
  height: 100vh;
}

.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.ios {
  --f7-ptr-preloader-size: 20px;
  --f7-ptr-size: 44px;
}
.md {
  --f7-ptr-preloader-size: 22px;
  --f7-ptr-size: 40px;
}
.aurora {
  --f7-ptr-preloader-size: 20px;
  --f7-ptr-size: 38px;
}

.aurora .theme-dark,
.aurora.theme-dark {
  --f7-searchbar-input-bg-color: #333;
}

.demo-icon {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}
.theme-dark .demo-icon {
  color: #fff;
}
.demo-icon .demo-icon-name {
  margin-top: 5px;
  font-size: 11px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
}
.theme-dark .demo-icon .demo-icon-name {
  color: #aaa;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

.bot-space {
  padding-bottom: 50px;
}

.cus-pad {
  background-color: ghostwhite;
  padding-top: 120px;
}


a {
  text-decoration: none;
  color: #008CBA;
}

.item-img {
  max-width: 125px; max-height: 100%; height: 110px;
}

.item-title {
  font-size: 12px;
  font-weight: 300;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-left: 10px;
  color: #121213;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-bid {
  font-size: 12px;
  font-weight: 300;
  display: block;
  justify-content: center;
  /*text-align: center;*/
  /*align-items: flex-end;*/
  margin-left: 10px;
  color: #121213;
  width: 150px;
  overflow: hidden;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}

.item-bidding {
  font-size: 12px;
  font-weight: 300;
  display: block;
  justify-content: center;
  /*text-align: center;*/
  /*align-items: flex-end;*/
  margin-left: 10px;
  color: #121213;
  /*width: 150px;*/
  overflow: hidden;
  word-wrap: break-word;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}

.lbl-txt {
  margin-left: 20px; 
  font-family: monospace; 
  font-size: 12px;
}

.lbl-href {
  margin-right: 15px; 
  margin-bottom:15px; 
  font-family: monospace; 
  font-size: 12px;
}

.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}
.demo-swiper {
  margin: 0px 0 15px;
  height: 200px;
  margin-left: 5px; 
  margin-right: 5px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

.img-circle {
  border-radius: 50%;
  width:60px;
}

.msglist {
  margin-top: 110px;
}

.content-card:after {
  display: block;
}

.auc-item {
  margin-right: 9px;
  margin-left: 9px;
}

.circle-text {
  width: 20px;
  height: 20px;
  border-radius: 1%;
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: #1c41ce;
}

.user-profile {
  margin-top: 10px;
  margin-bottom: 20px
  margin-left: 40%;
}
